body{
    background-image: url(imagem/moda-rapida-vs-moda-lenta-sustentavel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-transform: uppercase;
    text-align: center;
    padding: .8em;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.fonte{
    color: #faf4f0;
    text-shadow: rgb(121, 87, 60) 2px 2px 1px;
    background-color: rgb(80, 35, 5);
    width: fit-content;
}

.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

